- title "Exhibit"

%p
  = image_tag @exhibit.photo.url(:small)
%p
  %strong Caption:
  = @exhibit.caption
= render @exhibit.tags || 'Nothing is tagged.' + link_to('tag it up', edit_exhibit_path(@exhibit))

%p
  = link_to @exhibit.person.username, @exhibit.person

%p
  = link_to "Edit", edit_exhibit_path(@exhibit)
  |
  = link_to "Destroy", @exhibit, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", exhibits_path
