- title @person.username
= image_tag @person.photo.url(:small)  unless @person.photo.updated_at.nil?
%h1 Looks
= render @person.exhibits
%h1 Products
= render @person.products
%p
  = link_to "Edit", edit_person_path(@person)
  |
  = link_to "Delete Account", @person, :confirm => 'Are you sure?', :method => :delete
