- title @person.username
- if current_person == @person
  you 
- elsif current_person.follows?(@person)
  = link_to 'unfollow', current_person.followee_relationship_to(@person), :confirm => 'Are you sure?', :method => :delete
- else
  = link_to 'follow', new_person_relationship_path(@person)
%br
= image_tag @person.photo.url(:small)  unless @person.photo.updated_at.nil?
%h1 Followers
= render @person.followers
%h1 Followees
= render @person.followees
%h1 Looks
= render @person.exhibits
%h1 Products
= render @person.products
%p
  = link_to "Edit", edit_person_path(@person)
  |
  = link_to "Delete Account", @person, :confirm => 'Are you sure?', :method => :delete
