= form_for @product, html: { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :photo
    %br
    - unless @product.new_record?
      = image_tag @product.photo.url(:small)
    %br
    = f.file_field :photo
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :source
    %br
    = f.text_field :source
  %p
    = f.label :materials
    %br
    = f.text_field :materials
  %p
    = f.submit
