= form_for @product, html: { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :photo
    %br
    = image_tag @product.photo.url(:small)  unless @product.photo.updated_at.nil?
    %br
    = f.file_field :photo
  %p
    = select('product', 'category_id', Category.all.collect {|c| [ c.name, c.id ] })
  %p
    = select('product', 'brand_id', Brand.all.collect {|b| [ b.name, b.id ] })
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :source
    %br
    = f.text_field :source
  %p
    = f.label :materials
    %br
    = f.text_field :materials
  %p
    = f.submit
