%h2= link_to product.brand.name, product.brand
- if logged_in? && !local_assigns[:exhibit].nil? && exhibit.person == current_person
  %p
    = form_for [exhibit, exhibit.tags.build] do |f|
      = hidden_field_tag :'tag[product_id]', product.id
      = f.submit 'tag'
%p
  = link_to(image_tag(product.photo.url(:small)), product)
%p
  = link_to product.name, product
%p
  = product.description