- title "Products"

%table
  %tr
    %th
    %th Name
    %th Description
    %th Source
    %th Materials
  - for product in @products
    %tr
      %td= link_to(image_tag(product.photo.url(:thumb)), product)
      %td= link_to(product.name, product)
      %td= product.description
      %td= product.source
      %td= product.materials
      
%p= link_to "New Product", new_product_path
