- title "Products"

%table
  %tr
    %th
    %th Name
    %th Description
    %th Source
    %th Materials
  - for product in @products
    %tr
      %td= image_tag product.photo.url(:thumb)
      %td= product.name
      %td= product.description
      %td= product.source
      %td= product.materials
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Product", new_product_path
