= form_for [@exhibit, @tag] do |f|
  = f.error_messages
  %p
    = image_tag @exhibit.photo.url(:small)
    %br
    = @exhibit.caption
  %p
    = f.label :product_id
    %br
    = f.text_field :product_id
  %p
    = f.submit
