%p
  = link_to(image_tag(@exhibit.photo.url(:small)), @exhibit)
  %br
  = link_to @exhibit.caption, @exhibit
%p
  = render @exhibit.tags
= search_form_for @q, url: new_exhibit_tag_path(@exhibit) do |f|
  = f.label :name_or_description_or_brand_name_cont
  = f.text_field :name_or_description_or_brand_name_cont
  = f.submit
= render @products, exhibit: @exhibit