%p
  = render tag.product
- if logged_in? && tag.exhibit.person == current_person
  %p
    = form_for tag, method: :delete do |f|
      = f.submit 'remove'
%p
  = tag.caption
%p
  = render :partial => 'likes/likes', locals: { likable: tag }
%p
  = render :partial => 'comments/comments', locals: { commentable: tag }
  