- title "Tag"

%p
  %strong Exhibit:
  = render @tag.exhibit
%p
  %strong Product:
  = render @tag.product

%p
  = link_to "Edit", edit_tag_path(@tag)
  |
  = link_to "Destroy", @tag, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", tags_path
